<h1>MDS</h1>
<%= link_to 'Add Customer', new_customer_path %>

<%= link_to 'Add Sale', new_sale_path %>
<%= link_to 'Add Saledetail', new_saledetail_path %>

<%= link_to 'New supplier', new_supplier_path %>

<%= link_to 'New purchase', new_purchase_path %>
<%= link_to 'Add purchasedetail', new_purchase_path %>


<%= link_to 'New category', new_category_path %>

<%= link_to 'Add product', new_product_path %>



