<%= form_for @purchasedetail do |f| %>

<% if @purchasedetail.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@purchasedetail.errors.count, "error") %> prohibited

this purchase detail from being saved:

</h2>
<ul>

<% @purchasedetail.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Doc_no %><br>

<%= f.collection_select(:purchase_id, Purchase.all, :id, :doc_no, 
                  {include_blank: 'Select Document Number'})%>


</p>

<p>

<%= f.label :Product_Name %><br>

<%= f.text_field :prod_name %>

</p>

<p>

<%= f.label :Product_Qty %><br>

<%= f.number_field :prod_qty %>

</p>

<p>

<%= f.label :Trade_Price %><br>

<%= f.number_field :tp %>

</p>

<p>

<%= f.label :Total_Price %><br>

<%= f.number_field :total %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
