<table>
	<tr>
		<th>Doc#</th>
		<th>Product_Name</th>
		<th>Product_Qty</th>
		<th>Trade_Price</th>
		<th>Total_Price</th>
		<th colspan="4"></th>
	</tr>
		<% @purchasedetails.each do |purchasedetail| %>
	<tr>
		<td><%= purchasedetail.purchase.doc_no %></td>
		<td><%= purchasedetail.prod_name %></td>
		<td><%= purchasedetail.prod_qty %></td>
		<td><%= purchasedetail.tp %></td>
		<td><%= purchasedetail.total %></td>
		<td><%= link_to 'Show', purchasedetail_path(purchasedetail) %></td>
		<td><%= link_to 'Edit', edit_purchasedetail_path(purchasedetail) %></td>
		<td><%= link_to 'Delete', purchasedetail_path(purchasedetail), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>