<h1> Purchase Detail List </h1> 
 <p>
	<strong>Doc_no:</strong>
		<%= @purchasedetail.purchase.doc_no %>
 </p>
 <p>
	<strong>Prod_Name:</strong>
		<%= @purchasedetail.prod_name %>
 </p>
 
  <p>
	<strong>Product_Qty:</strong>
		<%= @purchasedetail.prod_qty %>
 </p>
 
 <p>
	<strong>Trade_Price:</strong>
		<%= @purchasedetail.tp %>
 </p>
 
  <p>
	<strong>Total:</strong>
		<%= @purchasedetail.total %>
 </p>
	<%= link_to 'Back', purchasedetails_path %>