<%= form_for @purchase do |f| %>

<% if @purchase.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@purchase.errors.count, "error") %> prohibited

this purchase from being saved:

</h2>
<ul>

<% @purchase.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Doc_no %><br>

<%= f.number_field :doc_no %>

</p>

<p>

<%= f.label :Date %><br>

<%= f.date_select :doc_date %>

</p>

<p>

<%= f.label :Vehicle %><br>

<%= f.number_field :vehicle_no %>

</p>

<p>

<%= f.label :Supplier %><br>

<%= f.collection_select(:supplier_id, Supplier.all, :id, :sup_name, 
                  {include_blank: 'Select Supplier'})%>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
