<table>
	<tr>
		<th>Doc#</th>
		<th>Date</th>
		<th>Vehicle#</th>
		<th>Supplier</th>
		<th colspan="4"></th>
	</tr>
		<% @purchases.each do |purchase| %>
	<tr>
		<td><%= purchase.doc_no %></td>
		<td><%= purchase.doc_date %></td>
		<td><%= purchase.vehicle_no %></td>
		<td><%= purchase.supplier.sup_name %></td>
		<td><%= link_to 'Show', purchase_path(purchase) %></td>
		<td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
		<td><%= link_to 'Delete', purchase_path(purchase), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>