<h1> Purchase List </h1> 
 <p>
	<strong>Doc_no:</strong>
		<%= @purchase.doc_no %>
 </p>
 <p>
	<strong>Date:</strong>
		<%= @purchase.doc_date %>
 </p>
 
  <p>
	<strong>Vehicle#:</strong>
		<%= @purchase.vehicle_no %>
 </p>
  <p>
	<strong>Supplier:</strong>
		<%= @purchase.supplier.sup_name %>
 </p>
	<%= link_to 'Back', purchases_path %>