<%= form_for @customer do |f| %>

<% if @customer.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@customer.errors.count, "error") %> prohibited

this customer from being saved:

</h2>
<ul>

<% @customer.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Code %><br>

<%= f.number_field :c_code %>

</p>

<p>

<%= f.label :Name %><br>

<%= f.text_field :c_name %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
