<table>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th colspan="2"></th>
	</tr>
		<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.c_code %></td>
		<td><%= customer.c_name %></td>
		<td><%= link_to 'Show', customer_path(customer) %></td>
		<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
		<td><%= link_to 'Delete', customer_path(customer), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>