<%= form_for @saledetail do |f| %>

<% if @saledetail.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@saledetail.errors.count, "error") %> prohibited

this sale detail from being saved:

</h2>
<ul>

<% @saledetail.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Invoice_no %><br>

<%= f.collection_select(:sale_id, Sale.all, :id, :inv_no, 
                  {include_blank: 'Select invoice number'})%>


</p>

<p>

<%= f.label :Customer %><br>

<%= f.collection_select(:customer_id, Customer.all, :id, :c_name, 
                  {include_blank: 'Select customer'})%>

</p>

<p>

<%= f.label :Product_Name %><br>

<%= f.collection_select(:prod_qty, Product.all, :id, :prod_name, 
                  {include_blank: 'Select product'})%>


</p>

<p>

<%= f.label :Product_Qty %><br>

<%= f.number_field :prod_qty %>

</p>

<p>

<%= f.label :Gross_Sale %><br>

<%= f.number_field :gross_sale %>

</p>

<p>

<%= f.label :Tax %><br>

<%= f.number_field :tax %>

</p>

<p>

<%= f.label :Discount %><br>

<%= f.number_field :discount %>

</p>

<p>

<%= f.label :Net_Sale %><br>

<%= f.number_field :net_sale %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
