<table>
	<tr>
		<th>Invoice#</th>
		<th>Customer</th>
		<th>Product_Name</th>
		<th>Product_Qty</th>
		<th>Gross_Sale</th>
		<th>Tax</th>
		<th>Discount</th>
		<th>Net_Sale</th>
		<th colspan="4"></th>
	</tr>
		<% @saledetails.each do |saledetail| %>
	<tr>
		<td><%= saledetail.sale.inv_no %></td>
		<td><%= saledetail.sale.customer.c_name %></td>
		<td><%= saledetail.prod_name %></td>
		<td><%= saledetail.prod_qty %></td>
		<td><%= saledetail.gross_sale %></td>
		<td><%= saledetail.tax %></td>
		<td><%= saledetail.discount %></td>
		<td><%= saledetail.net_sale %></td>
		<td><%= link_to 'Show', saledetail_path(saledetail) %></td>
		<td><%= link_to 'Edit', edit_saledetail_path(saledetail) %></td>
		<td><%= link_to 'Delete', saledetail_path(saledetail), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>