<h1> Sale Detail </h1> 
 <p>
	<strong>Invoice_no:</strong>
		<%= @saledetail.sale.inv_no %>
 </p>
 <p>
	<strong>Customer_Name:</strong>
		<%= @saledetail.sale.customer.c_name %>
 </p>
 
  <p>
	<strong>Product_Name:</strong>
		<%= @saledetail.product.prod_name %>
 </p>
 
 <p>
	<strong>Product_Qty:</strong>
		<%= @saledetail.prod_qty %>
 </p>
 
   <p>
	<strong>Gross:</strong>
		<%= @saledetail.gross_sale %>
 </p>
 
 <p>
	<strong>Tax:</strong>
		<%= @saledetail.tax %>
 </p>
 
 <p>
	<strong>Discount:</strong>
		<%= @saledetail.discount %>
 </p>
 
 <p>
	<strong>Net_Sale:</strong>
		<%= @saledetail.net_sale %>
 </p> 
	<%= link_to 'Back', saledetails_path %>