<%= form_for @category do |f| %>

<% if @category.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@category.errors.count, "error") %> prohibited

this category from being saved:

</h2>
<ul>

<% @category.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Code %><br>

<%= f.number_field :cat_code %>

</p>

<p>

<%= f.label :Title %><br>

<%= f.text_field :title %>

</p>

<p>

<%= f.label :Detail %><br>

<%= f.text_area :detail %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
