<table>
	<tr>
		<th>Code</th>
		<th>Title</th>
		<th>Detail</th>
		<th colspan="2"></th>
	</tr>
		<% @categories.each do |category| %>
	<tr>
		<td><%= category.cat_code %></td>
		<td><%= category.title %></td>
		<td><%= category.detail %></td>
		<td><%= link_to 'Show', category_path(category) %></td>
		<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<td><%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>