<h1> Categories List </h1> 
 <p>
	<strong>Code:</strong>
		<%= @category.cat_code %>
 </p>
 <p>
	<strong>Title:</strong>
		<%= @category.title %>
 </p>
 
  <p>
	<strong>Detail:</strong>
		<%= @category.detail %>
 </p>
	<%= link_to 'Back', categories_path %>