<%= form_for @product do |f| %>

<% if @product.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@product.errors.count, "error") %> prohibited

this product from being saved:

</h2>
<ul>

<% @product.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Code %><br>

<%= f.number_field :prod_code %>

</p>

<p>

<%= f.label :Name %><br>

<%= f.text_field :prod_name %>

</p>

	<p>

	<%= f.label :Price %><br>

	<%= f.number_field :unit_price %>

	</p>

<p>

<%= f.label :Category %><br>

<%= f.collection_select(:category_id, Category.all, :id, :title, 
                  {include_blank: 'Select category'})%>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
