<table>
	<tr>
		<th>Code#</th>
		<th>Name</th>
		<th>Price</th>
		<th>Category</th>
		<th colspan="4"></th>
	</tr>
		<% @products.each do |product| %>
	<tr>
		<td><%= product.prod_code %></td>
		<td><%= product.prod_name %></td>
		<td><%= product.unit_price %></td>
		<td><%= product.category.title %></td>
		<td><%= link_to 'Show', product_path(product) %></td>
		<td><%= link_to 'Edit', edit_product_path(product) %></td>
		<td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>