<h1> Products List </h1> 
 <p>
	<strong>Code:</strong>
		<%= @product.prod_code %>
 </p>
 <p>
	<strong>Name:</strong>
		<%= @product.prod_name %>
 </p>
 
 <p>
	<strong>Price:</strong>
		<%= @product.unit_price %>
 </p> 
  <p>
	<strong>Category:</strong>
		<%= @product.category.title %>
 </p>
	<%= link_to 'Back', products_path %>