<%= form_for @supplier do |f| %>

<% if @supplier.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@supplier.errors.count, "error") %> prohibited

this supplier from being saved:

</h2>
<ul>

<% @supplier.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Code %><br>

<%= f.number_field :s_code %>

</p>

<p>

<%= f.label :Name %><br>

<%= f.text_field :sup_name %>

</p>

<p>

<%= f.label :Type %><br>

<%= f.text_field :sup_type %>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
