<table>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th>Type</th>
		<th colspan="2"></th>
	</tr>
		<% @suppliers.each do |supplier| %>
	<tr>
		<td><%= supplier.s_code %></td>
		<td><%= supplier.sup_name %></td>
		<td><%= supplier.sup_type %></td>
		<td><%= link_to 'Show', supplier_path(supplier) %></td>
		<td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
		<td><%= link_to 'Delete', supplier_path(supplier), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>