<h1> Suppliers List </h1> 
 <p>
	<strong>Code:</strong>
		<%= @supplier.s_code %>
 </p>
 <p>
	<strong>Name:</strong>
		<%= @supplier.sup_name %>
 </p>
 
  <p>
	<strong>Type:</strong>
		<%= @supplier.sup_type %>
 </p>
	<%= link_to 'Back', suppliers_path %>