<%= form_for @sale do |f| %>

<% if @sale.errors.any? %>

<div id="error_explanation">

<h2>

<%= pluralize(@sale.errors.count, "error") %> prohibited

this sale from being saved:

</h2>
<ul>

<% @sale.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

</div>

<% end %>

<p>

<%= f.label :Invoice_no %><br>

<%= f.number_field :inv_no %>

</p>

<p>

<%= f.label :Date %><br>

<%= f.date_select :inv_date %>

</p>

<p>

<%= f.label :Customer %><br>

<%= f.collection_select(:customer_id, Customer.all, :id, :c_name, 
                  {include_blank: 'Select customer'})%>

</p>

<p>

<%= f.submit %>

</p>

<% end %>
