<table>
	<tr>
		<th>Invoice#</th>
		<th>Date</th>
		<th>Customer</th>
		<th colspan="4"></th>
	</tr>
		<% @sales.each do |sale| %>
	<tr>
		<td><%= sale.inv_no %></td>
		<td><%= sale.inv_date %></td>
		<td><%= sale.customer.c_name %></td>
		<td><%= link_to 'Show', sale_path(sale) %></td>
		<td><%= link_to 'Edit', edit_sale_path(sale) %></td>
		<td><%= link_to 'Delete', sale_path(sale), method: :delete, data: {confirm: 'Are You Sure?'} %></td>
	</tr>
		
		<% end %>
</table>