<h1> Sale List </h1> 
 <p>
	<strong>Invoice_no:</strong>
		<%= @sale.inv_no %>
 </p>
 <p>
	<strong>Date:</strong>
		<%= @sale.inv_date %>
 </p>
 
  <p>
	<strong>Customer:</strong>
		<%= @sale.customer.c_name %>
 </p>
	<%= link_to 'Back', sales_path %>